.recipe-list{
    background-color: orange;
    font-family: "Helvetica", "Times New Roman", sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.food-description{
    background-color: lightblue;
    color: lightgreen;
    text-align: center;
    font-family: "Lucida Console", "Times New Roman" sans-serif; 
}