.recipe-list{
    background-color: orange;
    font-family: "Helvetica", "Times New Roman", sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.food-description{
    background-color: darkblue;
    color: lightgreen;
    text-align: center;
    font-family: "Helvetica", "Times New Roman", monospace; 
}

.ingredient-list{
    background-color: lightcoral;
    color: aqua;
    text-align: center;
    font-family: Verdana, Arial, sans-serif;

}

.instruction-list{
    background-color: lightcyan;
    color: orangered;
    font-family: Verdana, Tahoma, sans-serif;
}